.container {
  display: flex;
  flex-direction: column;
  padding: 16px;
  width:90%;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

.breadcrumb {
  margin-bottom: 16px;
  font-size: 14px;
  color: #555;
  cursor: pointer;

  span {
    text-decoration: underline;
    color: #007bff;
  }
}

.editor {
  flex: 1;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.buttonGroup {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.saveButton {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.topButton {
  background-color: #6c757d;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.navbar {
  background-color: #343a40;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 20px;
  color: white;
  text-decoration: none;
}

.auth-info {
  font-size: 14px;
  display: flex;
  align-items: center;
}

button {
  margin-left: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}
